body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    margin-top: 150px;
}

header {
    background: #2c3e50;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    opacity: 0.85;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.diver{
    width: 75%;
    display: flex;
    margin: 50px auto;
    
}
.divertop{
    width: 90%;
    display: flex;
    margin: 50px auto;
    border: 1px black solid;
}
.divheader{
    display: flex;
    align-items: center;
    width: 50%;
}
.cen{
    margin: auto auto
}
.logo {
    width: 80px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}
.plletra{
    display: flex;
    align-items: center;
    height: 40%;
    margin-top: 20px;
    margin-left:5px;
    margin-right: 5px;
}

nav {
    width: 50%;
    text-align: right;
    margin-right: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
}

section {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
}

h2 {
    color: #2c3e50;
    text-align: center;
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #2c3e50;
    color: #fff;
    position: absolute;
    width: 100%;
}

.card {
    width: 215px;
    height: 300px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
  }
  .imgpintar{
        width:40%;
        display: flex; margin: auto;
        background: #e0e0e0;
  }